@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 300;
  src: local("Circe"), url("../fonts/Circe-Light.woff") format("woff");
}
@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  src: local("Circe"), url("../fonts/Circe-Regular.woff") format("woff");
}
@font-face {
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  src: local("Circe"), url("../fonts/Circe-Bold.woff") format("woff");
}

:root {
  --black: #000000;
  --text: #121314;
  --grey-90: rgba(0, 0, 0, 0.9);
  --grey-85: rgba(0, 0, 0, 0.85);
  --grey-80: rgba(0, 0, 0, 0.8);
  --grey-70: rgba(0, 0, 0, 0.7);
  --grey-60: rgba(0, 0, 0, 0.6);
  --grey-55: rgba(0, 0, 0, 0.55);
  --grey-50: rgba(0, 0, 0, 0.5);
  --grey-35: rgba(0, 0, 0, 0.35);
  --grey-25: rgba(0, 0, 0, 0.25);
  --grey-15: rgba(0, 0, 0, 0.15);
  --grey-10: rgba(0, 0, 0, 0.1);
  --grey-5: rgba(0, 0, 0, 0.05);
  --white: #ffffff;
  --white-30: rgba(255, 255, 255, 0.3);
  --white-70: rgba(255, 255, 255, 0.7);
  --red: #ed1c24;
  --logo-red: #de302f;
  --logo-nougat: #c08f77;
  --action-uteplenie: #36a6e4;
  --action-new: #63a73a;
  --orange: #eb794b;
  --sber: linear-gradient(90deg, #fded2a -3.25%, #4ae57b 21.62%, #2b89cf 100%);
  --wb: linear-gradient(
    90deg,
    #ca12aa 0%,
    #ad139f 23.78%,
    #87148f 50.9%,
    #6d1483 73.9%,
    #4a1173 100%
  );

  --time: 0.3s;
  --fast: 0.2s;

  --swiper-navigation-size: 0;
  --swiper-pagination-bullet-horizontal-gap: 1px;
  --swiper-pagination-bullet-size: 6px;
  --swiper-pagination-bullet-inactive-color: #d7d7d8;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-color: #000000;
  --swiper-theme-color: #ffffff;
}

/* base */
* {
  /* position: relative; */
  box-sizing: border-box;
}
body {
  font-family: "Circe", sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: var(--black);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
.no-scroll {
  overflow: hidden;
}
main {
  display: flex;
  flex-direction: column;
}
h1,
.h1 {
  margin: 0 0 20px;
  font-size: 30px;
  font-weight: 500;
}
h2,
.h2 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin: 0 0 30px;
  padding-left: 20px;
}
h4,
.h4 {
  font-size: 23px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
}
h5,
.h5 {
  font-size: 19px;
  line-height: 23px;
  font-weight: 400;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
  position: relative;
}
p {
  margin: 0 0 1em;
}
img {
  max-width: 100%;
}
.container {
  width: 1120px;
  padding: 0 20px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* swiper customization */
.swiper-button-next,
.swiper-button-prev {
  width: 66px;
  height: 76px;
  margin-top: -38px;
  padding: 20px;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 30px;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 30px;
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 21px;
}
/* header */
.header {
  width: 100%;
  z-index: 10;
  position: sticky;
  background: var(--white);
  top: -86px;
  transition: var(--time);
}

.header-notification {
  background: var(--red);
  padding: 0 62px;
  color: var(--white);
  display: flex;
  align-items: center;
  min-height: 48px;
  
  margin-top: 0px;
}
.header-notification-hidden {
  margin-top: -48px;
}
.header-notification-text {
  font-weight: 700;
  width: 100%;
  text-align: center;
}
.header-notification-close {
  font-size: 0;
  width: 12px;
  height: 12px;
  border: 0;
  padding: 0;
  position: absolute;
  right: 40px;
  top: 18px;
  background: transparent;
  cursor: pointer;
}
.header-notification-close svg {
  fill: var(--white);
}
.header-topline {
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--grey-10);
  font-size: 14px;
  line-height: 17px;
}
.header-phone-time-bar {
  display: flex;
  margin: 0 -15px;
}
.header-phone-time-bar a {
  opacity: 0.5;
  margin: 0 15px;
}
.header-phone-time-bar span {
  margin: 0 15px;
  opacity: 0.5;
}
.header-links-bar {
  list-style: none;
  margin: 0 -15px;
  padding: 0;
  display: flex;
}
.header-links-bar li {
  margin: 0 15px;
  opacity: 0.5;
}
.header-mainline {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header-burger-menu {
  display: none;
  padding: 21px 20px;
  background: transparent;
  border: none;
  font-size: 0;
}
.header-burger-menu svg {
  fill: var(--black);
}
.header-logo {
  display: flex;
}
.header-logo svg {
  fill: var(--logo-red);
}
.header-burger-close {
  display: none;
}
.header-navigation {
  position: static;
}

.header-categories {
  margin: 0 -15px;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  position: static;
}
.header-categories .header-categories-item {
  padding: 18px 15px;
  text-transform: uppercase;
  position: static;
  display: flex;
  align-items: center;
  font-size: 18px;
}
.header-categories .header-categories-item > a::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  display: block;
  background: var(--red);
  bottom: -18px;
  transform: scaleX(0);
  transition: var(--time);
}
.header-categories .header-categories-item:hover > a::before {
  transform: scaleX(1);
}
.header-categories .js-submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-categories a {
  text-decoration: none;
  color: inherit;
  display: flex;
  transition: color var(--time);
  position: relative;
}
.header-categories a:hover {
  color: var(--red);
}
.header-categories-item.header-categories-accent {
  color: var(--red);
  font-size: 0;
}
.header-categories-item.header-categories-accent span {
  font-size: 18px;
  line-height: 24px;
}
.header-categories .dropdown-1 {
  background: var(--white);
  color: var(--black);
  position: absolute;
  width: 100%;
  padding: 20px calc(50% - 512px) 45px calc(50% - 492px);
  left: 0;
  bottom: 0;
  transform: translateY(100%) scaleY(0);
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: var(--fast);
  display: block;
  column-count: 4;
  font-size: 14px;
  line-height: 17px;
  transform-origin: top;
  box-shadow: 1px 6px 8px -5px rgb(0 0 0 / 15%);
}
.header-categories .dropdown-1 > div {
  width: 100%;
  padding-right: 20px;
  margin-bottom: 30px;
  margin-right: auto;
  break-inside: avoid-column;
}
.header-categories-toggle:hover .header-categories-dropdown {
  opacity: 1;
  pointer-events: all;
  transform: translateY(100%) scaleY(1);
}
.header-categories .dropdown-2 {
  text-transform: none;
  margin: 20px 0 0;
}
.header-categories .dropdown-2 > div:not(:last-child) {
  margin-bottom: 10px;
}
.header-categories .dropdown-3 {
  display: none;
}
.header-categories .dropdown-sale {
  text-transform: none;
  color: var(--red);
}
.header-icons {
  font-size: 0;
  display: flex;
  list-style: none;
  margin: 0 -20px;
  padding: 0;
  align-items: center;
}
.header-icons li {
  margin: 0 20px;
  display: flex;
  position: relative;
}
.header-icons li > a {
  display: flex;
}
.header-icons svg {
  fill: var(--black);
}
.header-search-trigger:hover svg,
.header-icons a:hover svg {
  opacity: 0.5;
  transition: var(--time);
}
.header-items-in-cart {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--red);
  color: var(--white);
  font-size: 9.26px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  position: absolute;
  top: -8px;
  right: -12px;
}
/* header mainpage */
.header-main {
  position: absolute;
  color: var(--white);
  background: transparent;
  border-bottom: var(--white) 1px solid;
}
.header-main .header-topline {
  border-color: var(--white);
}
.header-main .header-logo svg {
  fill: var(--white);
}
.header-main .header-icons svg {
  fill: var(--white);
}
.header-main .header-burger-menu svg {
  fill: var(--white);
}
/* header fixed */
.header-fixed {
  position: fixed;
  color: var(--black);
  background: var(--white);
}
.header-fixed .header-notification {
  display: none;
}
.header-fixed .header-topline {
  display: none;
}
.header-fixed .header-logo svg {
  fill: var(--logo-red);
}
.header-fixed .header-icons svg {
  fill: var(--black);
}
.header-fixed .header-burger-menu svg {
  fill: var(--black);
}
/* footer */
.footer {
  margin-top: auto;
}
.footer-mainline {
  background: var(--grey-5);
  padding: 50px 40px 34px;
  font-size: 14px;
  line-height: 17px;
}
.footer-block {
  display: flex;
  flex-wrap: wrap;
}
.footer-column {
  width: 20%;
  flex-shrink: 0;
}
.footer-column-title {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer-links {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 500;
  color: var(--grey-60);
}
.footer-links li {
  position: relative;
  margin: 0;
}
.footer-links li::before {
  content: none!important;
}
.footer-links li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-links a::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--black);
  position: absolute;
  bottom: 0;
  transform: scaleX(0);
  transition: var(--time);
}
.footer-links a:hover::before {
  transform: scaleX(1);
}
.footer-links-accent {
  font-weight: 700;
}
.footer-subscribe-block {
  margin-bottom: 20px;
}
.footer-column-text {
  color: var(--grey-60);
  font-weight: 500;
  margin-bottom: 10px;
}
.footer-subscribe-email {
  width: 100%;
  background: var(--white-30) url("../img/email-icon.svg") no-repeat;
  background-position: 13px 14px;
  opacity: 0.5;
  border: 1px solid var(--grey-15);
  padding: 12px 20px 12px 44px;
}
.footer-social-links {
  margin: 0 -10px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.footer-social-links li {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: auto;
  color: var(--grey-60);
}
.footer-social-links a {
  width: 47px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-social-links svg {
  fill: var(--grey-25);
  margin-bottom: 10px;
}
.footer-social-links span {
  margin-top: auto;
}
.footer-bottomline {
  background: var(--grey-5);
  color: var(--grey-60);
  padding: 16px 40px;
  font-size: 14px;
  line-height: 24px;
}
/* hero banner */
.hero-banner {
  width: 100%;
  color: var(--white);
}
.hero-banner-img {
  display: flex;
  width: 100%;
}
/* stories slider */
.stories-block {
  padding: 60px 0 60px;
}
.stories-slider {
  margin: 0 auto;
  width: fit-content;
  max-width: 100%;
  padding: 0 30px;
}
.stories-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  text-align: center;
  margin: 0 30px;
  font-size: 16px;
  color: var(--grey-85);
}
.stories-item img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-bottom: 16px;
}
/* main categories slider */
.main-cat-slider {
  width: 100%;
}
.main-cat-slider-img img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}
.main-cat-slider-text {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 340px 20px;
  text-transform: uppercase;
  color: var(--white);
  margin: 0;
}
.main-cat-slider .swiper-button-next,
.main-cat-slider .swiper-button-prev {
  margin-top: -79px;
}
/* main salespoint */
.main-salespoint {
  padding: 90px 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  order: 2;
  font-size: 20px;
  line-height: 26px;
  color: var(--grey-85);
}
.main-salespoint-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-salespoint-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 2px;
  height: calc(100% + 40px);
  position: absolute;
  right: -21px;
  top: -20px;
  background: var(--grey-10);
}
.main-salespiont-img {
  margin-bottom: 30px;
  fill: var(--grey-35);
}
/* main sliders */
.main-slider-block {
  padding: 90px 20px 0;
  overflow: hidden;
  position: relative;
}
.main-slider {
  overflow: visible;
}
.main-slider-title {
  margin-bottom: 30px;
}
.main-new-link {
  position: absolute;
  top: 116px;
  right: 40px;
  font-size: 16px;
  line-height: 20px;
  transition: var(--time);
}
.main-new-link svg {
  top: 1px;
  margin-left: 10px;
}
.main-new-link:hover {
  opacity: 0.6;
}
.main-hit-link-block {
  position: absolute;
  top: 116px;
  right: 40px;
  font-size: 16px;
  line-height: 20px;
}
.main-hit-link {
  transition: var(--time);
  position: relative;
}
.main-hit-link::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--black);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: var(--time);
  transform: scaleX(0);
}
.main-hit-link:not(:last-child) {
  margin-right: 20px;
}
.main-hit-link-selected {
  font-weight: 600;
}
.main-hit-link:hover::before,
.main-hit-link-selected::before {
  transform: scaleX(1);
}
.main-hit-dropdown {
  display: none;
  position: absolute;
  top: 96px;
  right: 20px;
}
.main-actions-slider {
  margin: 0 -20px;
}
/* catalog slider item */
.main-slider-item img {
  object-fit: cover;
}
.catalog-item {
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
}
.catalog-item-photo {
  width: 100%;
  display: block;
}
.catalog-item-photo picture {
  display: flex;
}
.catalog-item-photo img {
  object-fit: cover;
}
.catalog-item-info {
  display: flex;
  flex-direction: column;
  padding: 8px 53px 10px 8px;
  position: relative;
}
.catalog-item-sizes {
  padding: 16px 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--white-70);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  pointer-events: none;
  transition: var(--time);
  transform: translateY(100%);
  text-align: center;
}
.catalog-item:hover .catalog-item-sizes {
  transform: translateY(0);
  pointer-events: all;
}
.catalog-item-sizes-block {
  margin: 16px 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  pointer-events: all;
}
.catalog-item-sizes-block button {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  margin: 0 11px 5px;
}
.catalog-item-label {
  margin-bottom: 2px;
}
.catalog-item-label-sale {
  color: var(--red);
}
.catalog-item-label-new {
  color: var(--action-new);
}
.catalog-item-label-warm {
  color: var(--action-uteplenie);
}
.catalog-item-name {
  margin-bottom: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.catalog-item-price {
  margin-bottom: 2px;
  font-size: 18px;
}
.catalog-item-price span {
  display: inline-block;
}
.catalog-item-price span:not(:last-child) {
  margin-right: 10px;
}
.catalog-item-price-sale {
  color: var(--red);
}
.catalog-item-price-old {
  color: var(--grey-50);
  text-decoration: line-through;
}
.catalog-item-colors {
  padding: 4px 0 0;
  display: flex;
  font-size: 0;
  position: relative;
}
.catalog-item-colors button {
  width: 14px;
  height: 14px;
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
}
.catalog-item-colors button::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: currentColor;
  position: absolute;
  top: 2px;
  left: 2px;
}
.catalog-item-colors button:not(:last-child) {
  margin-right: 4px;
}
.catalog-item-colors button.color-active::before {
  width: 12px;
  height: 12px;
  top: 2px;
  left: 2px;
}
.catalog-item-colors button.color-active::after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid var(--grey-10);
  position: absolute;
  top: 0;
  left: 0;
}
.catalog-item-favorite {
  width: 31px;
  height: 29px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  color: var(--grey-60);
}
.catalog-item-favorite button {
  width: 100%;
  height: 100%;
  background: url("../img/heart.svg") no-repeat center;
  cursor: pointer;
  font-size: 0;
  border: none;
  padding: 0;
}
.catalog-item-favorite-active button {
  background-image: url("../img/heart-filled.svg");
}
.catalog-item .swiper-button-next,
.catalog-item .swiper-button-prev {
  background-image: url("../img/catalog-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 45px;
  height: 50px;
  margin-top: -25px;
  opacity: 0;
  transition: var(--time);
}
.catalog-item .swiper-button-next {
  right: 0;
  transform: scaleX(-1);
}
.catalog-item .swiper-button-prev {
  left: 0;
}
.catalog-item:hover .swiper-button-next:not(.swiper-button-disabled),
.catalog-item:hover .swiper-button-prev:not(.swiper-button-disabled) {
  opacity: 1;
}
.catalog-item .swiper-pagination {
  display: none;
}
/* h1 seo block */
.h1-seo-block {
  padding: 80px 0;
  order: 3;
  color: var(--grey-50);
}
.h1-seo-block h1 {
  text-align: center;
  margin-bottom: 40px;
}
.h1-seo-block p {
  font-size: 16px;
  line-height: 20px;
}
/* menu desktop */
.header-categories .menu-hidden {
  display: none;
}
/* search form */
.header-search-trigger {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
.header-search {
  background: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--black);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  max-height: 100vh;
  overflow-y: auto;
  z-index: 50;
  display: none;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
}
.header-search-form {
  position: relative;
}
.header-search-open {
  display: block;
  overflow-y: visible;
}
.header-container {
  width: 768px;
  margin: 0 auto;
  padding: 75px 0;
}
.header-search-input {
  padding: 15px 26px 15px 0;
  border: none;
  border-bottom: 1px solid var(--grey-15);
  background: transparent;
  width: 100%;
}
.header-search-input::placeholder {
  color: var(--grey-25);
}
.header-search-input:focus-visible {
  outline: none;
}
.header-search-back,
.header-search-reset,
.header-search-prev-reset {
  font-size: 0;
  width: 16px;
  height: 16px;
  position: absolute;
  padding: 0;
  background: transparent;
  border: none;
  right: 0;
  cursor: pointer;
}
.header-search-reset {
  top: 15px;
  display: none;
}
.header-search-reset svg {
  fill: var(--grey-25);
}
.header-search-reset-active {
  display: block;
}
.header-search-prev-reset {
  top: 14px;
}
.header-search-back {
  display: none;
}
.header-search-info {
  margin-top: 15px;
}
.header-search-title {
  text-transform: uppercase;
  padding: 30px 0 20px;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;
}
.header-search-prev {
  display: none;
}
.header-search-prev-open {
  display: flex;
}
.header-search-prev-item {
  padding: 10px 26px 10px 30px;
  display: block;
  margin-top: 10px;
  position: relative;
}
.header-search-prev-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../img/previous-icon.svg") no-repeat;
}
.header-search-result {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}
.header-search-result-open {
  display: grid;
}
.header-search-categories-list {
  margin-top: 15px;
}
.header-search-categories-item {
  padding: 10px 0;
  display: block;
}
.header-search-categories-item:not(:last-child) {
  margin-bottom: 10px;
}
.header-search-category-name:not(:last-child) {
  margin-right: 20px;
}
.header-search-category-parent {
  color: var(--grey-25);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
}
.header-search-products .catalog-item {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}
.header-search-products .catalog-item-photo {
  display: block;
  margin-right: 5px;
  width: auto;
}
.header-search-products .catalog-item-info {
  font-size: 12px;
  line-height: 15px;
  height: auto;
  padding: 4px 9px 4px 7px;
}
.header-search-products .catalog-item-price {
  font-size: inherit;
  line-height: inherit;
}
.header-search-products .catalog-item-colors {
  font-size: inherit;
  padding: 0;
}
.header-search-products .catalog-item-category {
  color: var(--grey-25);
  margin-bottom: 2px;
}
.header-search-result-all {
  margin-top: 25px;
  text-align: center;
  width: 100%;
  grid-column: 1 / 3;
}
/* header cart popup */
.header-cart-popup {
  padding: 20px;
  width: 410px;
  max-width: 100vw;
  background: var(--white);
  color: var(--black);
  font-weight: 400;
  position: absolute;
  right: -12px;
  bottom: -5px;
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
  transition: var(--time);
  max-height: calc(100vh - 90px);
  overflow-y: auto;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
}
.header-cart-popup-active {
  opacity: 1;
  pointer-events: all;
}
.header-cart-popup-list {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--grey-15);
}
.header-cart-popup .catalog-item {
  display: flex;
  padding-bottom: 10px;
}
.header-cart-popup .catalog-item-photo {
  width: auto;
  margin-right: 5px;
  flex-shrink: 0;
}
.header-cart-popup .catalog-item-info {
  padding: 4px 9px 4px 7px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: auto;
  width: calc(100% - 95px);
  font-size: 12px;
  line-height: 15px;
}
.header-cart-popup .catalog-item-name-block {
  width: 100%;
  margin-bottom: auto;
}
.header-cart-popup .catalog-item-price {
  display: flex;
  flex-direction: column-reverse;
  text-align: right;
  font-size: inherit;
  line-height: inherit;
}
.header-cart-popup .catalog-item-price span:not(:last-child) {
  margin-right: 0;
}
.header-cart-popup-link {
  background: var(--black);
  color: var(--white);
  display: block;
  width: 100%;
  padding: 13px 20px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  transition: var(--time);
}
.header-cart-popup-link:hover {
  background-color: var(--grey-70);
}
/* media 1440 */
@media (max-width: 1440px) {
  .main-cat-slider-img img {
    height: 750px;
  }
  .main-cat-slider-text {
    padding-top: 355px;
  }
  .main-cat-slider .swiper-button-next,
  .main-cat-slider .swiper-button-prev {
    margin-top: -38px;
  }
  .main-salespoint-desc {
    font-size: 21px;
    line-height: 25px;
  }
}
@media (max-width: 1200px) {
  .header-categories .header-categories-item {
    font-size: 16px;
  }
  .header-categories-item.header-categories-accent {
    font-size: 0;
  }
  .header-categories-item.header-categories-accent span {
    font-size: 16px;
  }
}
/* media 1119- */
@media (max-width: 1120px) {
  .container {
    width: 1024px;
  }
  .header-categories {
    margin: 0 -11px;
  }
  .header-categories .header-categories-item {
    padding: 15px 5px;
  }
  .footer-social-links a {
    width: 46px;
  }
  .main-salespoint-desc {
    font-size: 19px;
    line-height: 23px;
  }
}
/* media 1024- */
@media (max-width: 1024px) {
  .header {
    top: -48px;
  }
  .stories-block {
    padding: 40px 0;
  }
  .stories-slider {
    padding: 0 10px;
  }
  .stories-item {
    width: 150px;
    margin: 0 10px;
  }
  .stories-item img {
    width: 100px;
    height: 100px;
  }
  .main-salespiont-img {
    width: auto;
    height: 40px;
    margin-bottom: 10px;
  }
  .main-salespoint-desc {
    font-size: 12px;
    line-height: 15px;
  }
  .main-slider-item {
    width: 321px;
  }
  .main-hit-link-block {
    display: none;
  }
  .main-hit-dropdown {
    display: block;
    border: none;
    background: transparent url("../img/dropdown-arrow.svg") right center
      no-repeat;
    background-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 26px;
    color: var(--grey-70);
  }
  .main-actions-slider {
    margin: 0;
  }
  .main-actions-slider .main-slider-item {
    height: 555px;
    display: flex;
  }
  .main-actions-slider .main-slider-item a {
    display: flex;
  }
  .main-actions-slider .main-slider-item picture {
    display: flex;
  }
  .main-actions-slider img {
    width: 400px;
  }
  .catalog-item-info {
    padding: 14px 16px 20px;
    height: 83px;
    justify-content: flex-end;
  }
  .catalog-item-sizes {
    display: none;
  }
  .catalog-item-label {
    margin-bottom: 1px;
    font-size: 10px;
    line-height: 13px;
  }
  .catalog-item-name {
    margin-bottom: 3px;
    font-size: 12px;
    line-height: 15px;
  }
  .catalog-item-price {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0;
  }
  .catalog-item-price span:not(:last-child) {
    margin-right: 0;
  }
  .catalog-item-colors {
    display: none;
  }
  .catalog-item-favorite {
    display: none;
  }
  .catalog-item .swiper-pagination {
    display: block;
  }
  .catalog-item .swiper-button-next,
  .catalog-item .swiper-button-prev {
    display: none;
  }

  .menu-active .header-mainline {
    background: var(--white);
  }
  .menu-active .header-burger-menu {
    opacity: 0;
    pointer-events: none;
  }
  .menu-active .header-logo {
    margin: 0 auto;
    padding-right: 60px;
  }
  .menu-active .header-logo svg {
    fill: var(--logo-red);
  }
  .menu-active .header-icons {
    display: none;
  }
  .menu-active .header-burger-close {
    display: block;
  }
  .menu-active .header-categories {
    flex-direction: column;
    position: absolute;
    top: 59px;
    width: 100%;
    height: calc(100vh - 60px);
    padding: 0;
    background: var(--white);
    color: var(--black);
    font-weight: 400;
    transform: translateX(-100vw);
  }
  .menu-active .header-categories {
    transform: translateX(0vw);
    z-index: 20;
  }
  .header-categories .header-categories-dropdown {
    display: none;
  }
  .menu-active .header-categories-dropdown {
    display: flex;
  }
  .menu-active .menu-mobile-hidden {
    display: none;
  }
  .menu-active .header-category-main {
    order: -1;
  }

  .menu-active .menu-hidden {
    display: flex;
  }
  .header-categories-personal {
    width: 100%;
    padding: 14px 0;
    display: flex;
    flex-direction: column;
  }
  .menu-active .header-categories .header-categories-item {
    padding: 0;
    border-top: 1px solid var(--grey-10);
  }
  .menu-active .header-categories .header-categories-item a {
    display: block;
    padding: 18px 20px;
    font-size: 16px;
    line-height: 24px;
    background: var(--white);
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
  }
  .menu-active .header-categories .header-category-main > a {
    font-weight: 700;
  }
  .menu-active .header-categories .header-categories-personal a {
    border: none;
    text-transform: none;
    display: flex;
  }
  .menu-active .header-categories-personal a {
    padding: 16px 20px;
    display: flex;
    align-items: center;
    text-transform: none;
  }
  .header-categories-personal svg {
    margin-right: 14px;
  }
  .menu-active .header-contacts-mobile {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
  .header-contacts-mobile span {
    font-size: 13px;
    line-height: 16px;
    padding: 22px 20px;
    color: var(--grey-55);
    text-transform: lowercase;
    font-weight: 400;
    flex-shrink: 0;
  }
  .menu-active .js-submenu-trigger::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 49px;
    height: 60px;
    display: block;
    background: url("../img/arrow-icon.svg") no-repeat center;
  }
  .header-categories .js-submenu {
    position: absolute;
    top: -61px;
    opacity: 1;
    width: 100vw;
    min-height: 100vh;
    transform: translateX(100vw);
    z-index: 10;
    padding: 0;
    transition: 0s;
    background: var(--white);
  }
  .menu-active .header-categories .js-submenu a {
    padding-left: 49px;
  }
  .header-categories .js-submenu {
    display: none;
  }
  .header-categories .js-submenu-active {
    transform: translateX(0vw);
    position: fixed;
    top: 0;
    display: flex;
  }
  .header-categories .js-submenu-active {
    transform: translateX(0vw);
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
  }
  .header-categories .dropdown-1.js-submenu-active {
    top: -60px;
  }
  .header-categories .dropdown-1 > div {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .header-categories .dropdown-2 {
    margin: 0;
  }
  .js-back-trigger::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 49px;
    height: 60px;
    display: block;
    background: url("../img/arrow-icon.svg") no-repeat center;
    transform: rotate(180deg);
  }
  .header-categories .dropdown-2 > li:not(:last-child) {
    margin-bottom: 0;
  }
  .header-categories .js-submenu-active.dropdown-3 {
    display: flex;
    flex-direction: column;
  }
  .header-categories .dropdown-sale {
    order: -1;
  }
  .header-categories .js-back-trigger {
    order: -10;
  }
  .header-categories .js-back-trigger ~ div {
    border-top: 1px solid var(--grey-10);
  }
  .header-categories .dropdown-2 > div:not(:last-child) {
    margin-bottom: 0;
  }
  .header-categories .js-submenu.dropdown-3 a {
    text-transform: none;
  }
  .header-categories .js-submenu .js-back-trigger a {
    font-weight: 700;
    text-transform: uppercase;
    padding-right: 60px;
  }

  .submenu-active .header-categories-item:not(.hide-siblings) {
    display: none;
  }
  .submenu-parent > div:not(.hide-siblings) {
    display: none;
  }
}
/* media 1023- */
@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
  .header-topline {
    display: none;
  }
  .header-mainline {
    padding: 0;
  }
  .header-burger-menu {
    display: block;
  }
  .header-logo {
    margin-right: auto;
    z-index: 20;
    transition: (--time);
  }
  .header-burger-close {
    padding: 22px;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    font-size: 0;
    z-index: 100;
    display: none;
  }
  .header-navigation {
    position: relative;
    order: 2;
    width: 100%;
  }
  .menu-active .header-navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--white);
    overflow: hidden auto;
    z-index: -1;
  }
  .menu-active .header-navigation.on-top {
    z-index: 20;
  }
  .header-categories {
    padding: 0 5px;
    margin: 0;
    border-top: 1px solid var(--grey-10);
    border-bottom: 1px solid var(--grey-10);
    justify-content: flex-start;
  }
  .header-categories .header-categories-item {
    padding: 15px 11px;
    font-size: 16px;
  }
  .header-categories-item.header-categories-accent {
    font-size: 0;
  }
  .header-categories-item.header-categories-accent span {
    font-size: 16px;
  }
  .menu-active .header-categories .header-categories-item {
    padding: 0;
  }
  .header-categories .dropdown-1 {
    padding: 0;
    flex-wrap: nowrap;
  }

  .header-icons {
    margin: 0 0 0 -20px;
  }
  .header-items-in-cart {
    display: none;
  }
  .header-main .header-categories {
    border-color: var(--white);
  }
  .footer {
    margin-top: 69px;
  }
  .footer-social-links {
    padding-right: 10px;
    margin-bottom: -20px;
  }
  .footer-social-links li {
    margin-bottom: 20px;
  }
  .header-search-open {
    overflow-y: auto;
  }
  .header-search {
    padding: 0;
    height: 100vh;
  }
  .header-container {
    width: 100%;
    padding: 0;
  }
  .header-search-input {
    padding: 22px 48px 22px 49px;
    font-weight: 700;
  }
  .header-search-input::placeholder {
    font-weight: 400;
  }
  .header-search-reset {
    width: 48px;
    height: 60px;
    top: 0;
  }
  .header-search-reset svg {
    fill: black;
  }
  .header-search-back {
    display: block;
    width: 49px;
    height: 60px;
    right: auto;
    top: 0;
    left: 0;
    background: url("../img/arrow-icon.svg") no-repeat center;
    transform: scaleX(-1);
  }
  .header-search-info {
    margin-top: 0;
  }
  .header-search-title {
    padding: 30px 20px 20px 40px;
  }
  .header-search-prev-item {
    margin-top: 0;
    padding: 10px 46px 10px 70px;
    position: relative;
  }
  .header-search-prev-item::before {
    left: 40px;
  }
  .header-search-prev-reset {
    right: 20px;
  }
  .header-search-categories-list {
    margin: 0;
    border-top: 1px solid var(--grey-10);
  }
  .header-search-categories-item {
    padding: 23px 48px 23px 40px;
    border-bottom: 1px solid var(--grey-10);
  }
  .header-search-categories-item:not(:last-child) {
    margin: 0;
  }
  .header-search-categories-item::before {
    content: "";
    width: 8px;
    height: 100%;
    display: block;
    background: url("../img/arrow-icon.svg") no-repeat center;
    position: absolute;
    right: 20px;
    top: 0;
  }
  .header-search-result-open {
    display: block;
  }
  .header-search-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 10px;
  }
  .header-search-products .catalog-item {
    flex-direction: column;
    margin-bottom: 0;
  }
  .header-search-products .catalog-item-photo img {
    width: 100%;
    height: auto;
  }
  .header-search-products .catalog-item-name span {
    font-weight: 700;
  }
  .header-search-products .catalog-item-category {
    display: none;
  }
  .header-search-products .catalog-item-info {
    margin: 5px 0 0;
    padding: 0px 9px 10px 7px;
  }
  .header-search-products .catalog-item-name {
    white-space: normal;
    overflow: visible;
  }
  .header-search-result-all {
    display: none;
  }
  .header-categories .header-categories-item > a::before {
    content: none;
  }
  .menu-active .header-categories a:hover {
    color: inherit;
  }
  .header-categories-toggle:hover .header-categories-dropdown {
    transform: translateX(0vw);
  }
  h2,
  .h2 {
    padding-left: 0;
  }
  .main-new-link {
    right: 20px;
  }
  .main-hit-dropdown {
    top: 116px;
    background-size: 12px;
    font-size: 16px;
    line-height: 20px;
  }
  .h1-seo-block {
    padding-bottom: 0;
  }
}
/* media 768- */
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
  .header-mainline {
    border-bottom: 1px solid var(--grey-10);
  }
  ul.header-icons {
    margin: 0 8px 0 -12px;
    background: transparent;
  }
  .header-icons li {
    margin: 0 12px;
  }
  .header-icons li > a {
    padding: 0;
    font-size: 0;
    background: transparent;
  }
  .footer-info-block {
    margin-bottom: 40px;
  }
  .footer-column-title {
    font-weight: 700;
  }
  .footer-column {
    width: 100%;
  }
  .footer-links li:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer-company-block {
    display: none;
  }
  .footer-account-block {
    display: none;
  }
  .footer-subscribe-block {
    display: none;
  }
}
/* media 750- */
@media (max-width: 749px) {
  h1,
  .h1 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
  }
  h2,
  .h2 {
    font-size: 19px;
    line-height: 23px;
  }
  h4,
  .h4 {
    font-size: 12px;
    line-height: 15px;
  }
  h5,
  .h5 {
    font-size: 12px;
    line-height: 15px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    padding: 10px;
    width: 33px;
    height: 38px;
    background-size: 13px;
    margin-top: -19px;
  }
  .footer {
    margin-top: 0;
  }
  .stories-block {
    padding: 30px 0;
  }
  .stories-slider {
    padding: 0;
  }
  .stories-item {
    width: 90px;
  }
  .stories-item img {
    width: 80px;
    height: 80px;
  }
  .main-cat-slider-img img {
    height: 398px;
  }
  .main-cat-slider-text {
    padding: 166px 20px;
  }
  .main-cat-slider .swiper-button-next,
  .main-cat-slider .swiper-button-prev {
    margin-top: -43px;
  }
  .main-salespoint {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    order: 2;
    padding-top: 60px;
  }
  .main-salespoint-item:not(:last-child)::after {
    content: none;
  }
  .main-slider-block {
    padding: 50px 10px 0;
  }
  .main-new-link {
    top: 54px;
    font-size: 13px;
    line-height: 16px;
  }
  .main-hit-dropdown {
    top: 54px;
    background-size: 9px;
    padding-right: 15px;
    font-size: 13px;
    line-height: 16px;
  }
  .main-actions-slider .main-slider-item {
    width: 280px;
    height: 484px;
  }
  .catalog-item-info {
    margin: 5px 0;
    padding: 0 9px 10px 7px;
    justify-content: flex-start;
    height: auto;
  }
  .catalog-item-label {
    margin-bottom: 3px;
  }
  .catalog-item-price {
    margin-bottom: 3px;
  }
  .catalog-item-price-old {
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    top: -2px;
    font-weight: 500;
  }
  .catalog-item-colors {
    font-size: 12px;
    line-height: 15px;
    display: block;
    padding: 0;
  }
  .catalog-item-colors button {
    display: none;
  }
  .main-slider-item .catalog-item-label {
    display: none;
  }
  .main-slider-item .catalog-item-price-sale {
    color: inherit;
  }
  .main-slider-item .catalog-item-price-old {
    display: none;
  }
  .catalog-item .swiper-pagination {
    display: none;
  }
  .h1-seo-block {
    padding: 90px 0 60px;
  }
  .h1-seo-block p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
  }
  .header-categories {
    display: none;
  }
  .menu-active .header-categories {
    display: flex;
  }
  .main-new-link svg {
    width: 15px;
    height: 10px;
  }
}
/* media 425- */
@media (max-width: 425px) {
  .main-salespoint-desc br {
    display: none;
  }
}
@media (max-width: 340px) {
  .footer-social-links li {
    margin: 0 8px 20px;
  }
}
