@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");

:root {
  --black: #000000;
  --text: #121314;
  --grey-90: rgba(0, 0, 0, 0.9);
  --grey-85: rgba(0, 0, 0, 0.85);
  --grey-80: rgba(0, 0, 0, 0.8);
  --grey-70: rgba(0, 0, 0, 0.7);
  --grey-60: rgba(0, 0, 0, 0.6);
  --grey-55: rgba(0, 0, 0, 0.55);
  --grey-50: rgba(0, 0, 0, 0.5);
  --grey-35: rgba(0, 0, 0, 0.35);
  --grey-25: rgba(0, 0, 0, 0.25);
  --grey-15: rgba(0, 0, 0, 0.15);
  --grey-10: rgba(0, 0, 0, 0.1);
  --grey-5: rgba(0, 0, 0, 0.05);
  --white: #ffffff;
  --white-30: rgba(255, 255, 255, 0.3);
  --white-70: rgba(255, 255, 255, 0.7);
  --red: #ed1c24;
  --logo-red: #de302f;
  --logo-nougat: #c08f77;
  --action-uteplenie: #36a6e4;
  --action-new: #63a73a;
  --orange: #eb794b;
  --sber: linear-gradient(90deg, #fded2a -3.25%, #4ae57b 21.62%, #2b89cf 100%);
  --wb: linear-gradient(
    90deg,
    #ca12aa 0%,
    #ad139f 23.78%,
    #87148f 50.9%,
    #6d1483 73.9%,
    #4a1173 100%
  );

  --time: 0.3s;

  --swiper-navigation-size: 0;
  --swiper-pagination-bullet-horizontal-gap: 1px;
  --swiper-pagination-bullet-size: 6px;
  --swiper-pagination-bullet-inactive-color: #d7d7d8;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-color: #000000;
}

/* base */
* {
  position: relative;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 13.3px;
  line-height: 16px;
  color: var(--black);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
main {
  display: flex;
  flex-direction: column;
}
h1,
.h1 {
  margin: 0 0 20px;
  font-size: 39.81px;
  line-height: 49px;
  font-weight: 500;
}
h2,
.h2 {
  font-size: 33.18px;
  line-height: 40px;
  font-weight: 700;
  margin: 0 0 30px;
}
h4,
.h4 {
  font-size: 23.04px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
}
h5,
.h5 {
  font-size: 19.2px;
  line-height: 23px;
  font-weight: 400;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0 0 1em;
}
img {
  max-width: 100%;
}
.container {
  width: 1120px;
  padding: 0 20px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* swiper customization */
.swiper-button-next,
.swiper-button-prev {
  width: 66px;
  height: 76px;
  background: url("../img/slider-arrow.svg") no-repeat;
  background-size: auto;
  background-position: center;
  margin-top: -38px;
  padding: 20px;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0;
  transform: scaleX(-1);
}
.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 21.13px;
}
/* header */
.header {
  width: 100%;
  z-index: 10;
  position: fixed;
  background: var(--white);
}
.header-notification {
  background: var(--red);
  padding: 0 62px;
  color: var(--white);
  display: flex;
  align-items: center;
  min-height: 48px;
}
.header-notification-text {
  font-weight: 700;
  width: 100%;
  text-align: center;
}
.header-notification-close {
  font-size: 0;
  width: 12px;
  height: 12px;
  border: 0;
  padding: 0;
  position: absolute;
  right: 40px;
  top: 18px;
  background: transparent;
}
.header-notification-close svg {
  fill: var(--white);
}
.header-topline {
  padding: 7px 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--grey-10);
}
.header-phone-time-bar {
  display: flex;
  margin: 0 -15px;
}
.header-phone-time-bar a {
  opacity: 0.5;
  margin: 0 15px;
}
.header-phone-time-bar span {
  margin: 0 15px;
  opacity: 0.5;
}
.header-links-bar {
  list-style: none;
  margin: 0 -15px;
  padding: 0;
  display: flex;
}
.header-links-bar li {
  margin: 0 15px;
  opacity: 0.5;
}
.header-mainline {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-burger-menu {
  display: none;
  padding: 21px 20px;
  background: transparent;
  border: none;
  font-size: 0;
}
.header-burger-menu svg {
  fill: var(--black);
}
.header-logo {
  display: flex;
}
.header-logo svg {
  fill: var(--logo-red);
}
.header-burger-close {
  display: none;
}
.header-categories {
  margin: 0 -15px;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  position: static;
}
.header-categories > li {
  padding: 15.29px 15px;
  text-transform: uppercase;
  position: static;
}
.header-categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-categories a {
  text-decoration: none;
  color: inherit;
}
.header-categories-accent {
  color: var(--red);
  font-size: 0;
}
.header-categories-accent span {
  font-size: 16px;
  line-height: 24px;
}
.header-categories .dropdown-1 {
  background: var(--white);
  color: var(--black);
  position: absolute;
  width: 100%;
  height: 385px;
  padding: 20px calc(50% - 512px) 15px calc(50% - 492px);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: var(--time);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 17.07px;
}
.header-categories .dropdown-1 > li {
  width: 25%;
  padding-right: 20px;
  margin-bottom: 30px;
}
.header-categories-toggle:hover .header-categories-dropdown {
  opacity: 1;
  pointer-events: all;
}
.header-categories .dropdown-2 {
  text-transform: none;
  margin: 20px 0 0;
  font-weight: 500;
}
.header-categories .dropdown-2 > li:not(:last-child) {
  margin-bottom: 10px;
}
.header-categories .dropdown-3 {
  display: none;
}
.header-categories .dropdown-sale {
  text-transform: none;
  color: var(--red);
}
.header-icons {
  font-size: 0;
  display: flex;
  list-style: none;
  margin: 0 -20px;
  padding: 0;
  align-items: center;
}
.header-icons li {
  margin: 0 20px;
}
.header-icons svg {
  fill: var(--black);
}
.header-icons a:hover svg {
  opacity: 0.5;
  transition: var(--time);
}
.header-items-in-cart {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--red);
  color: var(--white);
  font-size: 9.26px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  position: absolute;
  top: -8.03px;
  right: -11.84px;
}
/* header mainpage */
.header-main {
  font-weight: 700;
  color: var(--white);
  background: transparent;
}
.header-main .header-topline {
  border-color: var(--white);
}
.header-main .header-logo svg {
  fill: var(--white);
}
.header-main .header-icons svg {
  fill: var(--white);
}
.header-main .header-burger-menu svg {
  fill: var(--white);
}
/* footer */
.footer {
  margin-top: auto;
}
.footer-mainline {
  background: var(--grey-5);
  padding: 30px 0 34px;
  font-size: 14px;
  line-height: 17.07px;
  border-top: 1px solid var(--grey-15);
  border-bottom: 1px solid var(--grey-15);
}
.footer-block {
  display: flex;
  flex-wrap: wrap;
}
.footer-column {
  width: 25%;
  flex-shrink: 0;
}
.footer-column-title {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer-links {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 500;
  color: var(--grey-60);
}
.footer-links li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-links-accent {
  font-weight: 700;
}
.footer-subscribe-block {
  margin-bottom: 20px;
}
.footer-column-text {
  color: var(--grey-60);
  font-weight: 500;
  margin-bottom: 10px;
}
.footer-subscribe-email {
  width: 100%;
  background: var(--white-30) url("../img/email-icon.svg") no-repeat;
  background-position: 13px 14px;
  opacity: 0.5;
  border: 1px solid var(--grey-15);
  padding: 12px 20px 12px 44px;
}
.footer-social-links {
  margin: 0 -10px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.footer-social-links li {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: auto;
  color: var(--grey-60);
}
.footer-social-links a {
  width: 47px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-social-links svg {
  fill: var(--grey-25);
  margin-bottom: 10px;
}
.footer-social-links span {
  margin-top: auto;
}
.footer-bottomline {
  background: var(--grey-90);
  color: var(--white-30);
  padding: 16.5px 0;
  font-size: 14px;
  line-height: 24px;
}
/* hero banner */
.hero-banner {
  width: 100%;
  height: 980px;
  color: var(--white);
}
.hero-banner-img {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}
.hero-banner-img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0) 23.84%
  );
  z-index: 2;
}
.hero-banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-offer {
  font-weight: 700;
  padding: 262.95px 10% 178.37px;
  display: flex;
  flex-direction: column;
}
.hero-offer-date {
  font-weight: 400;
  font-size: 45.56px;
  line-height: 56px;
  margin-bottom: 18.49px;
}
.hero-offer-black-friday {
  color: var(--orange);
  font-size: 142.484px;
  line-height: 81.4%;
  font-weight: 900;
  margin-bottom: -7px;
}
.hero-offer-text {
  font-size: 109.357px;
  line-height: 133px;
  margin-bottom: 72.39px;
}
.hero-offer-amount {
  font-size: 186px;
  line-height: 227px;
  position: absolute;
  margin-left: 40px;
  margin-top: -33px;
  padding-left: 84px;
}
.hero-offer-amount::before {
  content: "до";
  position: absolute;
  left: 4px;
  top: 48px;
  font-size: 47.54px;
  line-height: 58px;
}
.hero-offer-amount::after {
  content: "";
  position: absolute;
  left: 0;
  top: 115px;
  display: block;
  width: 70.25px;
  height: 23.06px;
  background: var(--white);
}
.hero-offer-link {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 27.33px;
  line-height: 33px;
}
/* stories slider */
.stories-block {
  padding: 60px 0 83px;
}
.stories-slider {
  margin: 0 auto;
  width: fit-content;
  max-width: 100%;
  padding: 0 30px;
}
.stories-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 148.57px;
  text-align: center;
  margin: 0 30px;
}
.stories-item img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 16px;
}
/* main categories slider */
.main-cat-slider {
  width: 100%;
}
.main-cat-slider-img img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}
.main-cat-slider-text {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 340px 20px;
  text-transform: uppercase;
  color: var(--white);
  margin: 0;
}
.main-cat-slider .swiper-button-next,
.main-cat-slider .swiper-button-prev {
  margin-top: -79px;
}
/* main salespoint */
.main-salespoint {
  padding: 60px 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}
.main-salespoint-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-salespiont-img {
  margin-bottom: 30px;
}
/* main sliders */
.main-slider-block {
  padding: 90px 20px 0;
  overflow: hidden;
}
.main-slider {
  overflow: visible;
}
.main-slider-title {
  margin-bottom: 30px;
}
.main-new-link {
  position: absolute;
  top: 96px;
  right: 20px;
}
.main-hit-link-block {
  position: absolute;
  top: 96px;
  right: 20px;
}
.main-hit-link:not(:last-child) {
  margin-right: 20px;
}
.main-hit-link-selected {
  font-weight: 600;
  text-decoration: underline;
}
.main-hit-dropdown {
  display: none;
  position: absolute;
  top: 96px;
  right: 20px;
}
.main-actions-slider {
  margin: 0 -20px;
}
/* catalog slider item */
.main-slider-item img {
  object-fit: cover;
}
.catalog-item {
  font-size: 12px;
  line-height: 15px;
  overflow: hidden;
}
.catalog-item-photo {
  width: 100%;
  display: block;
}
.catalog-item-photo picture {
  display: flex;
}
.catalog-item-info {
  height: 99px;
  display: flex;
  flex-direction: column;
  padding: 8px 53.11px 10px 8px;
}
.catalog-item-sizes {
  padding: 16px 16px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--white-70);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  pointer-events: none;
  transition: var(--time);
  transform: translateY(100%);
  text-align: center;
}
.catalog-item:hover .catalog-item-sizes {
  transform: translateY(0);
}
.catalog-item-sizes-block {
  margin: 16px 0 0;
  padding: 0;
  display: flex;
}
.catalog-item-sizes-block button {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}
.catalog-item-sizes-block button:not(:last-child) {
  margin-right: 22px;
}
.catalog-item-label {
  margin-bottom: 2px;
}
.catalog-item-label-sale {
  color: var(--red);
}
.catalog-item-label-new {
  color: var(--action-new);
}
.catalog-item-label-warm {
  color: var(--action-uteplenie);
}
.catalog-item-name {
  margin-bottom: 2px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.catalog-item-price {
  margin-bottom: 2px;
}
.catalog-item-price span:not(:last-child) {
  margin-right: 10px;
}
.catalog-item-price-sale {
  color: var(--red);
}
.catalog-item-price-old {
  color: var(--grey-50);
  text-decoration: line-through;
}
.catalog-item-colors {
  padding: 16px 0 0;
  display: flex;
  font-size: 0;
}
.catalog-item-colors label {
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.catalog-item-colors label::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: currentColor;
  position: absolute;
  left: 0;
  top: 0;
}
.catalog-item-colors label:not(:last-child) {
  margin-right: 4px;
}
.catalog-item-colors input:checked + label::before {
  width: 10px;
  height: 10px;
  top: 1px;
  left: 1px;
}
.catalog-item-colors input:checked + label::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid var(--grey-10);
  position: absolute;
  top: -1px;
  left: -1px;
}
.catalog-item-favorite {
  width: 31.11px;
  height: 29px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}
.catalog-item-favorite label {
  width: 100%;
  height: 100%;
  background: url("../img/heart.svg") no-repeat center;
  cursor: pointer;
}
.catalog-item-favorite input:checked + label {
  background-image: url("../img/heart-filled.svg");
}
.catalog-item .swiper-button-next,
.catalog-item .swiper-button-prev {
  background-image: url("../img/catalog-arrow.svg");
  width: 45px;
  height: 50px;
  margin-top: -25px;
  opacity: 0;
  transition: var(--time);
}
.catalog-item:hover .swiper-button-next:not(.swiper-button-disabled),
.catalog-item:hover .swiper-button-prev:not(.swiper-button-disabled) {
  opacity: 1;
}
.catalog-item .swiper-pagination {
  display: none;
}
/* h1 seo block */
.h1-seo-block {
  padding: 50px 20px;
  order: 3;
}
.h1-seo-block h1 {
  color: var(--grey-90);
}
.h1-seo-block p {
  font-weight: 700;
  color: var(--grey-60);
}
/* dl desktop */
.menu-hidden {
  display: none;
}
/* media 1600- */
@media (max-width: 1600px) {
  .hero-banner {
    height: 800px;
  }
  .hero-offer {
    padding: 220.28px 10% 132.7px;
  }
  .hero-offer-date {
    font-size: 36.9px;
    line-height: 45px;
  }
  .hero-offer-black-friday {
    font-size: 115.41px;
  }
  .hero-offer-text {
    font-size: 88.58px;
    line-height: 108px;
    margin-bottom: 58.64px;
  }
  .hero-offer-amount {
    font-size: 150px;
    line-height: 184px;
    margin-top: -26px;
  }
  .hero-offer-amount::before {
    font-size: 38.5px;
    line-height: 47px;
    top: 38.4px;
  }
  .hero-offer-amount::after {
    width: 56.9px;
    height: 18.68px;
    top: 93px;
  }
  .hero-offer-link {
    font-size: 22.14px;
    line-height: 27px;
  }
}
/* media 1440 */
@media (max-width: 1440px) {
  .main-cat-slider-img img {
    height: 750px;
  }
  .main-cat-slider-text {
    padding-top: 355px;
  }
  .main-cat-slider .swiper-button-next,
  .main-cat-slider .swiper-button-prev {
    margin-top: -38px;
  }
  .main-salespoint-desc {
    font-size: 21px;
    line-height: 25px;
  }
}
/* media 1366 */
@media (max-width: 1366px) {
  .hero-banner {
    height: 668px;
  }
  .hero-offer {
    padding: 185.28px 10% 97.7px;
  }
  .hero-offer-date {
    font-size: 32.35px;
    line-height: 39.76px;
  }
  .hero-offer-black-friday {
    font-size: 101.16px;
  }
  .hero-offer-text {
    font-size: 77.64px;
    line-height: 94.43px;
    margin-bottom: 51.4px;
  }
  .hero-offer-amount {
    font-size: 132px;
    line-height: 161.17px;
    margin-top: -23.43px;
  }
  .hero-offer-amount::before {
    font-size: 33.75px;
    line-height: 41.18px;
    top: 34.1px;
  }
  .hero-offer-amount::after {
    width: 49.88px;
    height: 16.37px;
    top: 81.65px;
  }
  .hero-offer-link {
    font-size: 19.4px;
    line-height: 23.43px;
  }
}
/* media 1119- */
@media (max-width: 1120px) {
  .container {
    width: 1024px;
  }
  .header-categories {
    margin: 0 -11px;
  }
  .header-categories > li {
    padding: 15.29px 11px;
  }
  .footer-social-links a {
    width: 46px;
  }
  .main-salespoint-desc {
    font-size: 19.02px;
    line-height: 23px;
  }
}
/* media 1024- */
@media (max-width: 1024px) {
  .hero-banner {
    height: 890px;
    text-align: center;
  }
  .hero-offer {
    align-items: center;
    height: 100%;
    padding: 310px 10% 55px;
  }
  .hero-offer-date {
    order: 2;
    margin-bottom: 20px;
  }
  .hero-offer-black-friday {
    text-align: left;
    margin-bottom: 20px;
  }
  .hero-offer-text {
    font-size: 60.87px;
    line-height: 74px;
    margin-bottom: auto;
  }
  .hero-offer-amount {
    position: relative;
    display: block;
    font-size: 104.134px;
    line-height: 127px;
    padding-left: 45px;
    margin-left: 0;
  }
  .hero-offer-amount::before {
    font-size: 26.62px;
    line-height: 32px;
  }
  .hero-offer-amount::after {
    width: 39.33px;
    height: 12.91px;
  }
  .hero-offer-link {
    order: 3;
  }
  .stories-block {
    padding: 40px 0;
  }
  .stories-slider {
    padding: 0 10px;
  }
  .stories-item {
    width: 150px;
    margin: 0 10px;
  }
  .stories-item img {
    width: 100px;
    height: 100px;
  }
  .main-salespiont-img {
    width: auto;
    height: 40px;
    margin-bottom: 10px;
  }
  .main-salespoint-desc {
    font-size: 12px;
    line-height: 15px;
  }
  .main-slider-item {
    width: 321px;
  }
  .main-hit-link-block {
    display: none;
  }
  .main-hit-dropdown {
    display: block;
    border: none;
    background: transparent url("../img/dropdown-arrow.svg") right center
      no-repeat;
    background-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 26px;
    color: var(--grey-70);
  }
  .main-actions-slider {
    margin: 0;
  }
  .main-actions-slider img {
    width: 400px;
  }
  .catalog-item-info {
    padding: 14px 16px 20px;
    height: 83px;
    justify-content: flex-end;
  }
  .catalog-item-sizes {
    display: none;
  }
  .catalog-item-label {
    margin-bottom: 1px;
    font-size: 10px;
    line-height: 12.5px;
  }
  .catalog-item-name {
    margin-bottom: 3px;
    font-size: 12px;
    line-height: 15px;
  }
  .catalog-item-price {
    font-size: 14px;
    line-height: 17.07px;
    margin-bottom: 0;
  }
  .catalog-item-price span:not(:last-child) {
    margin-right: 0;
  }
  .catalog-item-colors {
    display: none;
  }
  .catalog-item-favorite {
    display: none;
  }
  .catalog-item .swiper-pagination {
    display: block;
  }
  .catalog-item .swiper-button-next,
  .catalog-item .swiper-button-prev {
    display: none;
  }
}
/* media 1023- */
@media (max-width: 1023px) {
  .container {
    width: 768px;
  }
  .header-topline {
    display: none;
  }
  .header-mainline {
    padding: 0;
  }
  .header-burger-menu {
    display: block;
  }
  .header-logo {
    margin-right: auto;
    z-index: 20;
    transition: (--time);
  }
  .header-burger-close {
    padding: 22px;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    font-size: 0;
    z-index: 100;
    display: none;
  }
  .header-categories {
    order: 2;
    width: 100%;
    padding: 0 5px;
    margin: 0;
    border-top: 1px solid var(--grey-10);
    border-bottom: 1px solid var(--grey-10);
    justify-content: flex-start;
  }
  .header-categories > li {
    padding: 15px 15px;
  }
  .header-categories .dropdown-1 {
    padding: 20px 0 15px 20px;
  }
  
  .header-icons {
    margin: 0 0 0 -20px;
  }
  .header-items-in-cart {
    display: none;
  }
  .header-main .header-categories {
    border-color: var(--white);
  }
  .footer {
    margin-top: 69px;
  }
  .footer-social-links {
    padding-right: 10px;
    margin-bottom: -20px;
  }
  .footer-social-links li {
    margin-bottom: 20px;
  }
}
/* media 768- */
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
  .header-mainline {
    border-bottom: 1px solid var(--grey-10);
  }
  ul.header-icons {
    margin: 0 8px 0 -12px;
    background: transparent;
  }
  .header-icons li {
    margin: 0 12px;
  }
  .header-icons li a {
    padding: 0;
    font-size: 0;
    background: transparent;
  }
  .footer-info-block {
    margin-bottom: 40px;
  }
  .footer-column-title {
    font-weight: 700;
  }
  .footer-column {
    width: 100%;
  }
  .footer-links li:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer-company-block {
    display: none;
  }
  .footer-account-block {
    display: none;
  }
  .footer-subscribe-block {
    display: none;
  }
  .header-mainline.menu-active {
    background: var(--white);
  }
  .menu-active .header-burger-menu {
    opacity: 0;
    pointer-events: none;
  }
  .menu-active .header-logo  {
    margin: 0 auto;
    padding-right: 60px;
  }
  .menu-active .header-logo svg {
    fill: var(--logo-red);
  }
  .menu-active .header-icons {
    display: none;
  }
  .menu-active .header-burger-close {
    display: block;
  }
  .header-categories {
    flex-direction: column;
    position: absolute;
    top: 60px;
    height: calc(100vh - 60px);
    padding: 0;
    background: var(--white);
    color: var(--black);
    font-weight: 400;
    transform: translateX(-100vw);
  }
  .menu-active .header-categories {
    transform: translateX(0vw);
    z-index: 20;
  }
  .header-categories .header-categories-dropdown {
    display: none;
  }
  .menu-active .header-categories-dropdown {
    display: flex;
  }
  .menu-mobile-hidden {
    display: none;
  }
  .header-category-main {
    order: -1;
  }
  .header-categories .header-category-main > a {
    font-weight: 700;
  }
  .menu-hidden {
    display: flex;
  }
  .header-categories-personal ul {
    width: 100%;
    padding: 14px 0;
  }
  .header-categories li {
    padding: 0;
    border-top: 1px solid var(--grey-10);
  }
  .header-categories > li a {
    display: block;
    padding: 18px 20px;
    font-size: 16px;
    line-height: 24px;
    background: var(--white);
    text-transform: uppercase;
    font-weight: 400;
  }
  .header-categories-personal li {
    border: none;
    text-transform: none;
  }
  .header-categories-personal li a {
    padding: 16px 20px;
    display: flex;
    align-items: center;
  }
  .header-categories-personal svg {
    margin-right: 14px;
  }
  .header-contacts-mobile {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
  .header-contacts-mobile span {
    font-size: 13px;
    line-height: 16px;
    padding: 22px 20px;
    color: var(--grey-55);
    text-transform: lowercase;
    font-weight: 400;
  }
  .js-submenu-trigger::after {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 49px;
    height: 60px;
    display: block;
    background: url("../img/arrow-icon.svg") no-repeat center;
  }
  .header-categories .js-submenu {
    position: absolute;
    top: -61px;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    transform: translateX(100vw);
    z-index: 10;
    padding: 0;
    transition: 0s;
    background: var(--white);
  }
  .header-categories .js-submenu a {
    padding-left: 49px;
  }
  .header-categories .js-submenu-active {
    transform: translateX(0vw);
    position: fixed;
    top: 0;
  }
  .header-categories .dropdown-1.js-submenu-active {
    top: -61px;
  }
  .header-categories .dropdown-1 > li {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .header-categories .dropdown-2 {
    margin: 0;
  }
  .js-back-trigger::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 49px;
    height: 60px;
    display: block;
    background: url("../img/arrow-icon.svg") no-repeat center;
    transform: rotate(180deg);
  }
  .header-categories .dropdown-2 > li:not(:last-child) {
    margin-bottom: 0;
  }
  .header-categories .dropdown-3 {
    display: flex;
    flex-direction: column;
  }
  .header-categories .dropdown-sale {
    order: -1;
  }
  .header-categories .js-back-trigger {
    order: -10;
  }
  .header-categories .dropdown-3 > li a {
    text-transform: none;
  }
  .header-categories li.js-back-trigger a {
    font-weight: 700;
    text-transform: uppercase;
    padding-right: 60px;
  }
}
/* media 750- */
@media (max-width: 749px) {
  h1,
  .h1 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
  }
  h2,
  .h2 {
    font-size: 19.2px;
    line-height: 23px;
  }
  h4,
  .h4 {
    font-size: 12px;
    line-height: 15px;
  }
  h5,
  .h5 {
    font-size: 12px;
    line-height: 14.63px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    padding: 10px;
    width: 33px;
    height: 38px;
    background-size: 13px;
    margin-top: -19px;
  }
  .footer {
    margin-top: 0;
  }
  .hero-banner {
    height: 472px;
  }
  .hero-offer {
    padding: 164px 10% 30px;
  }
  .hero-offer-date {
    font-size: 13.61px;
    line-height: 17px;
    margin-bottom: 9.69px;
  }
  .hero-offer-black-friday {
    font-size: 55.43px;
    margin-bottom: 11px;
  }
  .hero-offer-text {
    font-size: 32.3px;
    line-height: 39px;
  }
  .hero-offer-amount {
    font-size: 55.26px;
    line-height: 67px;
    margin-top: -13px;
    padding-left: 25px;
  }
  .hero-offer-amount::before {
    font-size: 14.12px;
    line-height: 17px;
    top: 14px;
    left: 2px;
  }
  .hero-offer-amount::after {
    width: 20.87px;
    height: 6.85px;
    top: 34px;
  }
  .hero-offer-link {
    font-size: 8.2px;
    line-height: 10px;
  }
  .stories-block {
    padding: 30px 0;
  }
  .stories-slider {
    padding: 0;
  }
  .stories-item {
    width: 89.57px;
  }
  .stories-item img {
    width: 80px;
    height: 80px;
  }
  .main-cat-slider-img img {
    height: 398px;
  }
  .main-cat-slider-text {
    padding: 165.5px 20px;
  }
  .main-cat-slider .swiper-button-next,
  .main-cat-slider .swiper-button-prev {
    margin-top: -43px;
  }
  .main-salespoint {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    order: 2;
  }
  .main-slider-block {
    padding: 50px 10px 0;
  }
  .main-new-link {
    top: 54px;
  }
  .main-hit-dropdown {
    top: 54px;
    background-size: 10px;
    padding-right: 15px;
  }
  .main-actions-slider .main-slider-item {
    width: 280px;
  }
  .catalog-item-info {
    margin: 5px 0;
    padding: 0 9px 10px 7px;
    justify-content: flex-start;
    height: auto;
  }
  .catalog-item-label {
    margin-bottom: 3px;
  }
  .catalog-item-price {
    margin-bottom: 3px;
  }
  .catalog-item-price-old {
    font-size: 12px;
    line-height: 14.63px;
    text-decoration: none;
    top: -2px;
  }
  .catalog-item-colors {
    font-size: 12px;
    line-height: 14.63px;
    display: block;
    padding: 0;
  }
  .catalog-item-colors input {
    display: none;
  }
  .catalog-item-colors label {
    display: none;
  }
  .main-slider-item .catalog-item-label {
    display: none;
  }
  .main-slider-item .catalog-item-price-sale {
    color: inherit;
  }
  .main-slider-item .catalog-item-price-old {
    display: none;
  }
  .catalog-item .swiper-pagination {
    display: none;
  }
  .h1-seo-block {
    padding: 90px 20px 60px;
  }
  .h1-seo-block p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
  }
}
/* media 425- */
@media (max-width: 425px) {
  .main-salespoint-desc br {
    display: none;
  }
}

/* temp styles */
.header-notification {
  display: none;
}
